<div class="row mx-0 auth">
  <div class="col-lg-6">
    <div class="logo">
      <img
        src="../../../../../assets/images/landing/Staycation.svg"
        alt="logo"
      />
    </div>
    <div class="auth-form px-lg-5 px-3 py-5 d-flex flex-column gap-md-5 gap-4">
      <div class="auth-title">
        <h2 class="mb-4">Sign in</h2>
        <p class="mb-0">If you don’t have an account register</p>
        <p class="mb-0">
          You can
          <a routerLink="/auth/register" class="fw-bold">Register here !</a>
        </p>
      </div>

      <form
        class="d-flex flex-column gap-4"
        [formGroup]="loginForm"
        (ngSubmit)="onLogin(loginForm)"
      >
        <div class="d-flex flex-column">
          <label>Email Address</label>
          <span class="p-input-icon-right">
            <i class="pi pi-envelope"></i>
            <input
              type="email"
              formControlName="email"
              pInputText
              aria-describedby="email-help"
              placeholder="Enter your email"
            />
          </span>
          <div
            class="position-relative error-text"
            *ngIf="
              loginForm.get('email')?.invalid && loginForm.get('email')?.touched
            "
          >
            <small *ngIf="loginForm.get('email')?.hasError('required')">
              Email is required
            </small>
            <small *ngIf="loginForm.get('email')?.hasError('email')">
              Invalid email format
            </small>
          </div>
        </div>

        <div class="d-flex flex-column">
          <label>Password</label>
          <p-password
            formControlName="password"
            [toggleMask]="true"
            placeholder="Enter your password"
            [feedback]="false"
          ></p-password>
          <div
            class="position-relative error-text"
            *ngIf="
              loginForm.get('password')?.touched &&
              loginForm.get('password')?.invalid
            "
          >
            <small *ngIf="loginForm.get('password')?.hasError('required')">
              Password is required
            </small>
            <small *ngIf="loginForm.get('password')?.hasError('minlength')">
              Password at least 6 charachters
            </small>
          </div>
        </div>

        <p-button
          label="Login"
          [loading]="loading"
          class="btn-main mt-3"
          type="submit"
        ></p-button>
        <span class="text-center">
          <a routerLink="/auth/forget-password">Forgot Password ?</a>
        </span>

        <div class="d-flex justify-content-center align-items-center gap-2">
          <asl-google-signin-button
            type="icon"
            size="medium"
          ></asl-google-signin-button>
          <a
            style="
              border: 1px solid #e1e1e1;
              padding: 3px 8px;
              border-radius: 5px;
            "
            (click)="signInWithFB()"
            ><i class="pi pi-facebook" style="color: rgb(0, 82, 234)"></i
          ></a>
        </div>
      </form>
    </div>
  </div>
  <div
    class="col-lg-6 d-lg-flex d-none login-back p-5 flex-column justify-content-end"
  >
    <h2 class="main-color">Sign in to Roamhome</h2>
    <p class="main-color">Homes as unique as you.</p>
  </div>
</div>
