.default-color {
  color: var(--default-color);
}

.main-color {
  color: var(--main-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.ternary-color {
  color: var(--ternary-color);
}

.gray-color {
  color: var(--gray-color);
}

.yellow-color {
  color: var(--yellow-color);
}

.bg-main-color {
  background-color: var(--bg-main-color);
}

.bg-secondary-color {
  background-color: var(--bg-secondary-color);
}

.bg-gray-color {
  background-color: var(--bg-gray-color);
}

.bg-navbar-color {
  background-color: var(--bg-navbar-color);
}