@font-face {
  font-family: "poppins";
  src: url("./../../fonts/poppins/poppins-regular.ttf");
}

@font-face {
  font-family: "poppins-medium";
  src: url("./../../fonts/poppins/poppins-medium.ttf");
}

@font-face {
  font-family: "poppins-semibold";
  src: url("./../../fonts/poppins/poppins-semibold.ttf");
}

@font-face {
  font-family: "poppins-bold";
  src: url("./../../fonts/poppins/poppins-bold.ttf");
}
