.p-password,
.p-inputtext,
.p-multiselect {
  width: 100%;
  background-color: var(--bg-gray-color) !important;
}

.p-dropdown .p-dropdown-trigger,
.p-paginator-rpp-options .p-dropdown .p-dropdown-trigger {
  background-color: var(--bg-gray-color) !important;
}

.p-inputtext.ng-dirty.ng-invalid:focus,
.p-password-mask.ng-invalid.ng-dirty .p-password-input:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 38, 38, 0.229) !important;
}

.p-placeholder,
::placeholder {
  font-size: 13px !important;
}

label {
  color: var(--ternary-color);
  font-family: Poppins;
  font-weight: 400;
  padding-bottom: 4px !important;
}

form.p-inputs-sm input,
.p-input-sm {
  height: 45px !important;
}

form.select-button .p-button {
  height: 40px !important;
  padding: 2px 10px !important;
  font-size: 14px !important;
}

form.p-inputs-lg input,
.p-input-lg {
  height: 48px !important;
}

.error-text {
  font-size: 14px;
  color: #dc3545 !important;
  padding-top: 4px !important;
  padding-bottom: 10px !important;
}

.p-paginator-rpp-options .p-inputtext {
  background-color: transparent !important;
}

.p-disabled,
.p-component:disabled {
  opacity: 1 !important;
}

.p-menuitem-text {
  font-size: 13px !important;
}

.p-tieredmenu {
  padding: 0 !important;
  overflow: hidden;
}