<div class="landing-card">
  <span class="landing-card__badge" *ngIf="badgeTitle">
    <strong>{{ badgeTitle }}</strong>
  </span>
  <div class="port-item">
    <div class="inner">
      <p-image
        [src]="images && images.length && images[0]"
        alt="Image"
        width="100%"
        height="215px"
        styleClass="position-relative w-100"
      >
      </p-image>
      <div
        class="layer d-flex justify-content-center align-content-center align-items-center"
      >
        <a (click)="addAndRemoveFavourite()" class="pointer">
          <i
            [ngClass]="isFavorite ? 'pi pi-heart-fill' : 'pi pi-heart'"
            class="pi pi-heart-fill"
            style="font-size: 1.3rem; padding: 5px; color: white"
          ></i
        ></a>
        <a [routerLink]="['/landing/room/details', id]"
          ><i class="pi pi-eye" style="font-size: 1.5rem; color: white"></i
        ></a>
      </div>
    </div>
  </div>
  <div
    class="landing-card__footer"
    [class.landing-card__footer-floated]="isFloatedFooter"
  >
    <span class="landing-card__footer__name"> {{ name }} </span>
  </div>
</div>
