<ng-container *ngIf="isLoggedIn">
  <h5>
    {{ "ROOM_DETAILS_COMMENTS.COMMENTS" | translate }} ({{
      this.commentsList && this.commentsList.length
    }})
  </h5>

  <div class="mt-4" *ngIf="commentsList">
    <p-scrollPanel
      [style]="{ width: '100%', height: '200px' }"
      styleClass="px-0"
    >
      <ng-container *ngFor="let comment of commentsList">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center">
            <p-avatar
              [image]="comment.user.profileImage"
              styleClass="mr-2"
              shape="circle"
            ></p-avatar>
            <h6 class="mx-2 my-0">{{ comment.user.userName }}</h6>
          </div>

          <div *ngIf="userName === comment.user?.userName">
            <i
              class="pi pi-pencil pointer"
              (click)="isEditable = comment._id"
            ></i>
            <i
              class="pi pi-trash ps-3 pointer"
              (click)="deleteComment(comment)"
            ></i>
          </div>
        </div>

        <p class="mb-0">{{ comment.comment }}</p>
        <div class="d-flex justify-content-end align-items-center">
          <i class="pi pi-clock"></i>
          <small class="px-1 fw-semibold">{{
            comment.updatedAt | date : "dd MMM, YYYY"
          }}</small>
        </div>
        <p-divider layout="horizontal"></p-divider>
      </ng-container>
    </p-scrollPanel>
  </div>
</ng-container>

<ng-container *ngIf="!isCommentBefore || isEditable">
  <h6 class="mt-4">{{ "ROOM_DETAILS_COMMENTS.ADD_COMMENT" | translate }}</h6>

  <textarea
    class="w-100 rounded-3 p-2 bg-main-color gray-color"
    rows="3"
    pInputTextarea
    [(ngModel)]="comment"
    [placeholder]="'ROOM_DETAILS_COMMENTS.ADD_COMMENT_PLACEHOLDER' | translate"
  ></textarea>

  <div class="text-end">
    <p-button
      [label]="'BUTTONS.SEND' | translate"
      [loading]="false"
      class="d-block btn-main mt-3"
      (click)="onComment()"
    ></p-button>
  </div>
</ng-container>
