.navbar {
    background: var(--bg-main-color);
}

.btn-color {
    background-color: #3252DF;
    color: white;
}

.nav-link {
    color: #152C5B !important;
    cursor: pointer;
}

.active {
    color: #3252DF !important;
}