<div class="row mx-0 auth">
  <div class="col-lg-6">
    <div class="logo">
      <img
        src="../../../../../assets/images/landing/Staycation.svg"
        alt="logo"
      />
    </div>
    <div class="auth-form p-5 d-flex flex-column gap-5">
      <div class="auth-title">
        <h2 class="mb-4">Forgot password</h2>
        <p class="mb-0">If you already have an account register</p>
        <p class="mb-0">
          You can
          <a routerLink="/auth/login" class="fw-bold">Login here !</a>
        </p>
      </div>

      <form [formGroup]="forgetPasswordForm" class="d-flex flex-column gap-3">
        <div class="d-flex flex-column">
          <label>Email</label>
          <span class="p-input-icon-right">
            <i class="pi pi-envelope"></i>
            <input
              type="email"
              pInputText
              aria-describedby="email-help"
              placeholder="Enter your email"
              formControlName="email"
            />
          </span>

          <div
            *ngIf="
              forgetPasswordForm.controls.email.touched &&
              forgetPasswordForm.controls.email.errors
            "
            class="position-relative error-text"
          >
            <span *ngIf="forgetPasswordForm.controls.email.errors?.['required']"
              >Email is required</span
            >
            <span *ngIf="forgetPasswordForm.controls.email.errors?.['email']"
              >Enter valid email</span
            >
          </div>
        </div>

        <p-button
          label="Send mail"
          [loading]="loading"
          class="btn-main mt-4"
          (click)="submit()"
        ></p-button>
      </form>
    </div>
  </div>
  <div
    class="col-lg-6 d-lg-flex d-none forget-reset-back p-5 flex-column justify-content-end"
  >
    <h2 class="main-color">Forgot password</h2>
    <p class="main-color">Homes as unique as you.</p>
  </div>
</div>
