<nav class="navbar navbar-expand-lg py-3 border-bottom">
  <div class="container-fluid mx-5">
    <img
      class="navbar-brand"
      src="../../../../../assets/images/landing/Staycation.svg"
    />
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto mx-2">
        <a
          class="nav-item nav-link"
          routerLinkActive="active"
          routerLink="/landing"
          [routerLinkActiveOptions]="{ exact: true }"
          >{{ "NAVBAR.HOME" | translate }}</a
        >
        <a
          class="nav-item nav-link"
          routerLinkActive="active"
          routerLink="/landing/explore"
          >{{ "NAVBAR.EXPLORE" | translate }}</a
        >
        <!-- <a class="nav-item nav-link" routerLinkActive="active">{{
          "NAVBAR.REVIEWS" | translate
        }}</a> -->
        <a
          class="nav-item nav-link"
          routerLink="/landing/favourite"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >{{ "NAVBAR.FAVORITES" | translate }}</a
        >
      </div>

      <form [formGroup]="filterForm" class="select-button d-flex flex-lg-row flex-column gap-4 my-lg-0 my-3">
        <p-selectButton
          class="d-inline-flex"
          [options]="languagesOptions"
          formControlName="language"
          optionLabel="label"
          optionValue="value"
          (ngModelChange)="changeLang()"
        ></p-selectButton>

        <p-selectButton
          class="d-inline-flex"
          [options]="themesOptions"
          formControlName="theme"
          optionLabel="label"
          optionValue="value"
          (ngModelChange)="toggleTheme()"
        ></p-selectButton>
      </form>

      <div
        class="d-flex justify-content-lg-end align-items-center gap-4 ms-lg-3"
        *ngIf="userProfile"
      >
        <div class="avatar">
          <p-avatar
            *ngIf="userProfile.data.user.profileImage; else noImg"
            [image]="userProfile.data.user.profileImage"
            size="large"
            shape="circle"
          ></p-avatar>
          <ng-template #noImg>
            <p-avatar
              *ngIf="userProfile.data.user.profileImage; else noImg"
              [image]="'../../../../../assets/images/global/noImg.png'"
              size="large"
              shape="circle"
            ></p-avatar>
          </ng-template>
        </div>

        <h6>{{ userProfile.data.user.userName }}</h6>
        <a (click)="menu.toggle($event)" class="pointer"
          ><i class="pi pi-chevron-down"></i
        ></a>
        <p-tieredMenu #menu [model]="items" [popup]="true"></p-tieredMenu>
      </div>
    </div>
  </div>
</nav>

<form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
  <p-dialog
    header="Change password"
    [(visible)]="displayDialog"
    [modal]="true"
    [closable]="true"
    (onHide)="hideDialog()"
  >
    <div>
      <label> Old password</label>
      <p-password
        placeholder="Enter your old password"
        formControlName="oldPassword"
        [toggleMask]="true"
        [feedback]="false"
      ></p-password>
      <div
        *ngIf="
          changePasswordForm.controls.oldPassword.touched &&
          changePasswordForm.controls.oldPassword.errors
        "
        id="password-help"
        class="position-relative error-text"
      >
        <small
          *ngIf="changePasswordForm.controls.oldPassword.errors?.['required']"
          >Old password is required
        </small>
      </div>
    </div>
    <div class="py-3">
      <label> New password</label>

      <p-password
        class="mt-3"
        placeholder="Enter your new password"
        formControlName="newPassword"
        [toggleMask]="true"
      >
        <ng-template pTemplate="footer">
          <app-password-hint-pop-over></app-password-hint-pop-over> </ng-template
      ></p-password>
      <div
        *ngIf="
          changePasswordForm.controls.newPassword.touched &&
          changePasswordForm.controls.newPassword.errors
        "
        id="password-help"
        class="position-relative error-text"
      >
        <small
          *ngIf="changePasswordForm.controls.newPassword.errors?.['required']"
          >New password is required
        </small>
      </div>
    </div>
    <div>
      <label> Confirm password</label>
      <p-password
        placeholder="Enter your confirm password"
        formControlName="confirmPassword"
        [toggleMask]="true"
        [feedback]="false"
      ></p-password>
      <div
        *ngIf="
          changePasswordForm.controls.confirmPassword.touched &&
          changePasswordForm.controls.confirmPassword.errors
        "
        id="password-help"
        class="position-relative error-text"
      >
        <small
          *ngIf="changePasswordForm.controls.confirmPassword.errors?.['required']"
          >Confirm password is required
        </small>
      </div>
    </div>
    <div class="d-flex justify-content-between py-3">
      <p-button
        type="button"
        (click)="hideDialog()"
        styleClass="p-button-raised p-button-danger"
        >Cancel</p-button
      >
      <p-button type="submit" styleClass="p-button-raised">Save</p-button>
    </div>
  </p-dialog>
</form>
<div class="flex justify-content-center">
  <p-toast></p-toast>

  <p-confirmDialog
    acceptButtonStyleClass="mx-2 "
    acceptLabel="Yes"
    rejectLabel="No"
    rejectButtonStyleClass="p-button-raised p-button-danger "
    [style]="{ width: '50vw' }"
  ></p-confirmDialog>
</div>
