.navbar {
    background: var(--bg-main-color);
}

.nav-link {
    color: var(--default-color) !important;
    cursor: pointer;
}

.avatar {
    height: 48px;
    ;
}

.active {
    color: #3252DF !important;
}