<div class="container">
  <div class="footer py-5 mt-5">
    <div class="row">
      <div class="col-md-3">
        <img
          src="../../../../../assets/images/landing/Staycation.svg"
          alt="logo"
        />
        <p class="gray-color py-3 fs">
          {{ "footer.subTitle" | translate }}
        </p>
      </div>
      <div class="col-md-3 mb-md-0 mb-4">
        <h5 class="ternary-color fw-bold mb-4">
          {{ "footer.forBeginners" | translate }}
        </h5>
        <p class="gray-color mb-2 fs">
          {{ "footer.newAccount" | translate }}
        </p>
        <p class="gray-color mb-2 fs">
          {{ "footer.startBooking" | translate }}
        </p>
        <p class="gray-color mb-2 fs">
          {{ "footer.usePayments" | translate }}
        </p>
      </div>
      <div class="col-md-3 mb-md-0 mb-4">
        <h5 class="ternary-color fw-bold mb-4">
          {{ "footer.exploreUs" | translate }}
        </h5>
        <p class="gray-color mb-2 fs">
          {{ "footer.ourCareers" | translate }}
        </p>
        <p class="gray-color mb-2 fs">{{ "footer.privacy" | translate }}</p>
        <p class="gray-color mb-2 fs">
          {{ "footer.termsConditions" | translate }}
        </p>
      </div>
      <div class="col-md-3">
        <h5 class="ternary-color fw-bold mb-4">
          {{ "footer.connectUs" | translate }}
        </h5>
        <p class="gray-color mb-2 fs">{{ "footer.support" | translate }}</p>
        <p class="gray-color mb-2 fs">{{ "footer.phone" | translate }}</p>
        <p class="gray-color mb-2 fs">{{ "footer.address" | translate }}</p>
      </div>
    </div>
  </div>
  <div class="gray-color text-center fs my-3">
    {{ "footer.copyright" | translate }}
  </div>
</div>
