<div class="card flex justify-content-center" *ngIf="visible">
  <p-galleria
    [value]="images"
    [(visible)]="visible"
    [responsiveOptions]="responsiveOptions"
    [containerStyle]="{ 'max-width': '850px' }"
    [fullScreen]="true"
    [showItemNavigators]="true"
    [showThumbnails]="false"
  >
    <ng-template pTemplate="closeicon" let-closeIcon>
      <i (click)="onClose()" class="px-1 pi pi-times"></i>
    </ng-template>
    <ng-template pTemplate="item" let-item>
      <img [src]="item" style="width: 100%; display: block" />
    </ng-template>
  </p-galleria>
</div>
