.title {
  font-size: 42px;
  line-height: 63px;
  font-weight: 700 !important;
  color: var(--ternary-color);
}

.description {
  color: var(--gray-color);
}


.h-38 {
  height: 38px !important;
}

.landing-form {
  ::ng-deep .p-inputtext,
  ::ng-deep .p-button {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: 38px !important;
    text-align: center;
  }
}
