:root {
  --default-color: #152c5b;
  --main-color: #ffffff;
  --secondary-color: #203fc7;
  --ternary-color: #152c5b;
  --gray-color: #b0b0b0;
  --yellow-color: #dfcb1d;
  --bg-main-color: #fff;
  --bg-secondary-color: #203fc7;
  --bg-gray-color: #f5f6f8;
  --bg-navbar-color: #e7eaef;
  --bg-paginator: #fff;
  --bg-icon-color: rgba(32, 63, 199, 0.2);
  --btn-hover: #3e60f9;
  --li-hover: rgba(26, 27, 30, 17%);
  --btn-shadow: 0 8px 15px rgba(62, 96, 249, 0.3);
  --image-picker-bg: #f1fff0;
  --image-picker-color: #4f4f4f;
  --image-picker-secondary-color: #009247;
  --image-picker-border: #009247;
  --card-badge: #ff498b;
  --success-bg: #1abc9c;
  --danger-bg: #e74c3c;
  --card-border-color: #e5e5e5;
  --text-gray-color: #b0b0b0;
  --sidebar-color: white;
}
